@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
    --primary-color : #47597e;
    --secondary-color : #293b5f;
    --light-color : #dbe6fd;
    --max-width : 1100px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--secondary-color);
    color: var(--light-color);
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

p{
    font-size: .75rem;
    margin-top: 5px;
}

#header{
    padding: 50px;
    margin: 0px auto;
    text-align: center;
    font-size: 1.2rem;
    letter-spacing: 1.5;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--secondary-color);
}

#main-section{
    background: var(--primary-color);
    height: 100%;
    padding: 50px 0px;
}

#main-section ul li{
    list-style-type: none;
    width: 6px;
    background: var(--light-color);
    margin: 0 auto;
    position: relative;
    padding-top: 50px;
}

/* timeline cards*/
#main-section ul li div{
    width: 240px;
    padding: 20px;
    position: relative;
    background: var(--secondary-color);
    border-radius: 5px;
    transition: all 300ms ease-in;
    visibility: hidden;
    opacity: 0;
}

#main-section ul li:nth-child(even) div{
    left: -290px; 
    transform: translateX(-200px);
}

#main-section ul li:nth-child(odd) div{
    left: 50px; 
    transform: translateX(200px);
}

/*timeline dots */
#main-section ul li::after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: inherit;
    transform: translateX(-50%);
    transition: all 300 ease-in;
}

/* Show Boxes */
#main-section ul li.show:nth-child(even) div{
    left: -290px; 
    transform: none;
}

#main-section ul li.show:nth-child(odd) div{
    left: 50px; 
    transform: none;
}

#main-section ul li.show div{
    visibility: visible;
    opacity: 1;
}

#main-section ul li::after{
    background: var(--secondary-color);

}

/* skills box arrows */
#main-section ul li div::before{
    content: '';
    position: absolute;
    width: 0px;
    height: 0px;
    border-style: solid;
    bottom: 5px;
}
/* Right side arrows */
#main-section ul li:nth-child(odd) div::before{
    left:-15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent var(--secondary-color) transparent transparent;
}
/* left side arrows */
#main-section ul li:nth-child(even) div::before{
    right: -15px;
    border-width: 8px 0px 8px 16px;
    border-color: transparent transparent transparent var(--secondary-color);
}

/*Media Queries */
@media (min-width:900px){
    #main-section ul li div{
        width: 400px;
    }
    #main-section ul li.show:nth-child(even) div{
        left: -440px; 
        transform: none;
    }
}
@media (max-width:600px){
    #main-section ul li{   
        margin-left: 20px;
    }

    #main-section ul li div{
        width: calc(100vw - 110px);
    }
    #main-section ul li:nth-child(even) div{
        left: 50px; 
    }
    #main-section ul li:nth-child(even) div::before{
        left:-15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent var(--secondary-color) transparent transparent;
    }
}